body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#loader { 
  border: 8px solid #f3f3f3; 
  border-radius: 50%; 
  border-top: 12px solid #444444; 
  width: 80px; 
  height: 80px; 
  animation: spin 1s linear infinite; 
} 

@keyframes spin { 
  100% { 
      transform: rotate(360deg); 
  } 
} 

.center { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  margin: auto; 
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  font-size: 0.7rem;
}

@media (min-width: 544px) {
  html {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 0.9rem;
  }
}
